In [1]:
import pandas as pd
import numpy as np
import scipy.stats as stat

In [2]:
df=pd.read_csv('Sales_add.csv')

In [3]:
df.head()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402

In [10]:
df.isna().sum()

Month                             0
Region                            0
Manager                           0
Sales_before_digital_add(in $)    0
Sales_After_digital_add(in $)     0
dtype: int64

In [9]:
df.describe()

       Sales_before_digital_add(in $)  Sales_After_digital_add(in $)
count                       22.000000                      22.000000
mean                    149239.954545                  231123.727273
std                      14844.042921                   25556.777061
min                     130263.000000                  187305.000000
25%                     138087.750000                  214960.750000
50%                     147444.000000                  229986.500000
75%                     157627.500000                  250909.000000
max                     178939.000000                  276279.000000

In [5]:
df.shape

(22, 5)

# Q 1 The company wishes to clarify whether there is any increase in sales after stepping into digital marketing

HO:There is no increase in sales after stepping into digital marketing.

H1: There is increase in sales after stepping into digital marketing.

In [6]:
x=np.array(df['Sales_before_digital_add(in $)'])
y=np.array(df['Sales_After_digital_add(in $)'])

In [7]:
stat.ttest_rel(x,y,alternative='greater')

Ttest_relResult(statistic=-12.09070525287017, pvalue=0.9999999999683167)

In [11]:
#The pvalue > 0.05
#Hence, we have no reason to reject the null hypothesis
#Therefore we conclude that there is no increase in sales after stepping into digital marketing

# 2 The company needs to check whether there is any dependency between the features “Region” and “Manager”.

HO:There is no dependancy betweeen the features 'Region' and 'Manager'
    
H1:There is a dependancy between the features 'Region' and 'Manager'

In [12]:
crosstabresult=pd.crosstab(index=df['Region'],columns=df['Manager'])
print(crosstabresult)

Manager     Manager - A  Manager - B  Manager - C
Region
Region - A            4            3            3
Region - B            4            1            2
Region - C            1            3            1

In [13]:
from scipy.stats import chi2_contingency

In [14]:
chisqresult=chi2_contingency(crosstabresult)

In [15]:
print('The p-value of ChiSq Test is',chisqresult[1])

The p-value of ChiSq Test is 0.5493991051158094

In [16]:
#The pvalue > 0.05
#Hence, we have no reason to reject the null hypothesis
#ie., we conclude that there is no dependecy between the feature 'Region' and 'Manager'